---
import type { PageRoute } from '@/utils/routes';
import { z } from 'zod';
import { SideNavItemIcon } from './SideNavItemIcon';
import { ShortcutBadge } from './ShortcutBadge';
import { RouteShortcut } from './RouteShortcut';

interface Props {
  route: z.infer<typeof PageRoute>;
  currentRoute: string;
}

const { route, currentRoute } = Astro.props as Props;
---

<>
  <li
    tabindex="0"
    class="focus-visible:border-ring focus-visible:ring-ring/50 flex gap-4 rounded-md shadow-none transition-all focus-visible:ring-[3px] focus-visible:outline-none xl:justify-between"
    class:list={[
      'hover:text-secondary',
      { 'text-primary': !currentRoute.includes(route.link), 'text-accent': currentRoute.includes(route.link) },
    ]}
  >
    <div class="flex cursor-pointer gap-4">
      <SideNavItemIcon icon={route.icon} />
      <a tabindex="-1" href={route.link} class="hidden xl:block">
        {route.title}
      </a>
    </div>
    <div class="hidden md:block">
      <ShortcutBadge shortcut={route.shortcut} client:idle />
      <RouteShortcut route={route} client:idle />
    </div>
  </li>
</>
